---
name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-image:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
    
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Docker build
        uses: docker/build-push-action@v5
        with:
          push: ${{ gihub.event_name != 'pull_request' }}
          tags: kkh0349/brettfisher/httpenv:latest, kkh3049/bretfisher/httpenv:01
